@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: #262338;
  color: #e2ebf0;
  font-family: 'IBM Plex Mono', monospace;
  overflow-x: hidden;
}
